{% extends 'base.html' %}
{% block title %}Laptop{% endblock title %}

{% block body%}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
             
            <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTCrX9bs5auRbRpn8j7Cbcn4K9OXO2ucOaUjrZAuFOlkq6EGq3iUocE_A248VEwWkF9lA_lFmgTXDs&usqp=CAc" class="d-block w-100" alt="...">
            <div class="card-body">
              <h3> Mi Notebook 14 </h3>
              <p class="card-text">New Surface Laptop 3 fuels your ideas and reflects your style with a thin, light design you can carry all day and choice of colors, keyboard finishes, and sizes — a vibrant 13.5” or new 15” touchscreen.
              Colors available on and  selected models only. Available colors vary by store, market, and configuration.Make a powerful statement with new Surface Laptop .Memory : 8GB DDR4-2666MHz RAM and  Storage: 256 GB SSD</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                  <a button type="button" class="btn btn-primary" href="/cart">Buy Now</a>
                </div>
                
              </div>
            </div>
          </div>
        </div>

    {% endblock body%}